#page-content {
    @extend %full;
    @include desktopview {
        padding-top: 80px;
    }
}
.theme-container {
    @extend %full;
    display: inline-block;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 120px;
    }
    .separator {
        float: left;
        @include size(100vw,1px);
        @include desktopview {
            @include size(calc(100vw - 15px),1px);
            @include absolutecenter('x');
            bottom: 0;
        }
    }
    .theme-separator {
        @extend %full;
        text-align: left;
        position: relative;
        h4 {
            text-transform: uppercase;
            line-height: 42px;
            margin: 0;
            @include mobileview {
                padding: 0 18px;
            }
        }
        .theme-desc {
            color: #525252;
            font-size: 16px;
            line-height: 28px;
            @include desktopview {
                @include absolute($position-default,0,5px);
            }
            @include mobileview {
                float: left;
                max-width: 100%;
                padding: 0 18px;
                margin-top: 10px;
                text-align: right;
            }
        }
    }
    .category-container {
        float: left;
        width: 100%;
        margin-bottom: 78px;
        &:nth-last-child(2) {
            margin-bottom: 0;
            @include mobileview {
                margin-bottom: 40px;
            }
        }
        .category-image {
            width: auto;
            @include desktopview {
                &.align-left {
                    float: left;
                    margin-left: -8vw;
                    & + .category-text {
                        float: right;
                        text-align: right;
                    }
                }
                &.align-right {
                    float: right;
                    margin-right: -8vw;
                    & + .category-text {
                        float: left;
                    }
                }
            }
        }
        .category-text {
            display: inline-block;
            @include desktopview {
                width: 600px;
                max-width: 40%;
                margin-top: 42px;
            }
            @include mobileview {
                padding: 0 18px;
            }
            p {
                font-size: 20px;
                font-weight: 300;
                line-height: 38px;
                margin-bottom: 30px;
                @include mobileview {
                    font-size: 18px;
                    line-height: 33px;
                }
            }
            .button-details {
                display: inline-block;
                padding: 18px 40px;
                border: 1px solid #000;
                @include border-radius(37px);
                @include transition(.5s ease);
                &:hover {
                    border-color: $blue;
                    img {
                        filter: none;
                        @include translate(8px,0);
                    }
                }
                span {
                    font-size: 16px;
                    line-height: 28px;
                    vertical-align: middle;
                    @include transition(.5s ease);
                }
                img {
                    margin-left: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    filter: brightness(0);
                    @include transition(.5s ease);
                }
            }
        }
    }
}