@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro'), url(./fonts/cerapro/cerapro-regular.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Cera Pro';
    font-weight: 100;
    src: local('Cera Pro'), url(./fonts/cerapro/cerapro-thin.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Cera Pro';
    font-weight: 300;
    src: local('Cera Pro'), url(./fonts/cerapro/cerapro-light.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    src: local('Cera Pro'), url(./fonts/cerapro/cerapro-medium.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Cera Pro';
    font-weight: 700;
    src: local('Cera Pro'), url(./fonts/cerapro/cerapro-bold.otf) format('opentype');
  }
  
  @font-face {
      font-family: 'Cera Pro';
      font-weight: 900;
      src: local('Cera Pro'), url(./fonts/cerapro/cerapro-black.otf) format('opentype');
  }