$font-primary: "Cera Pro", sans-serif;

$text-base-color: #000;

$grid-max: 1528px;

$orange: #EE7500;
$green: #00963E;
$blue: #006CB7;
$lightgray: #E0E0E0;
$black: #000000;
$pink: #FC36A5;
$yellow: #FFD500;
$red: #E3000B;